<%= nested_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

	<h3>Tasks</h3>
  <%= f.fields_for :tasks do |task_form| %>
  	<div class="control-group">
  		<div class="controls">
      	<%= task_form.text_field :name, :class => 'text_field' %>
      	<span class="help-inline"><%= task_form.link_to_remove "Remove this task" %></span>
    	</div>
  	</div>
	<% end %>
	<%= f.link_to_add "Add a task", :tasks %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
